* {
    -fx-font-size: 13px;
}

.scroll-pane .viewport {
    -fx-background-color: #ddd;
}

.region {
    -fx-padding: 7;
    -fx-background-color: #ddd;
    -fx-background-radius: 10;
    -fx-border-width: 0;
}

.transparent {
    -fx-background-color: transparent;
}
